<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地点</title>
    <link href="/static/css/tq.css" type="text/css" rel="stylesheet">
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=A1FWWa3iyQmOrjlQ7gjwBzlP2b84Xe2g"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
</head>
<body>
<header>
        <!-- 导航栏 -->
        <nav>
            <!-- logo -->
            <h1 class="logo">
                <a href="#">生活小助手</a>
            </h1>
            <!-- 导航菜单 -->
            <ul>
                <li>
                    <a href="/login/home_page">网站首页</a>
                </li>
                <li id="bbs">
                    <a href="/tq/index">智能天气</a>
                </li>
                <li>
                    <a href="/qiu/index">双色球</a>
                </li>
                <li>
                    <a href="/speech/index">语音识别</a>
                </li>
                <li>
                    <a href="/note/all_notes">生活笔记</a>
                </li>
                <li>
                    <a href="/dict/check_word">单词查询</a>
                </li>
                <li>
                    <a href="/article/artlist">吐槽论坛</a>
                </li>
            </ul>
        </nav>
    </header>
<main class="mo">
<input type="text" id="text" value=""> <!-- 表单 -->
<button id='btn'>click me</button><!-- 按钮 -->
<div id="allmap"></div>
<div id="dv2"></div><!--图片 -->
    <div id="dv4"></div>
</main>

<script>
{#    取token判定#}
$(function () {
    var token = window.localStorage.getItem('dnblog_token');
    var username = window.localStorage.getItem('dnblog_user');
    var post_data = {'token':token,'username':username};
    $.ajax({
        type:"post",
        contentType:"application/json",
        dataType:"json",
        url:"/login/validation_state",
        data:JSON.stringify(post_data),
        beforeSend: function(request) {request.setRequestHeader("Authorization", token)},
        success:function (result) {
            if(result.code != 200){
                alert(result.error);
                window.location = '/login/index'}
            else {
                    // 百度地图API功能
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(108.95, 34.27);
        map.centerAndZoom(point, 12);
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function (r) {
            console.log(r.point);
            alert('小助手正在努力获取您的定位,请稍等');
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                var mk = new BMap.Marker(r.point);
                map.addOverlay(mk);//标出所在地
                map.panTo(r.point);//地图中心移动
                //alert('您的位置：'+r.point.lng+','+r.point.lat);
                var point = new BMap.Point(r.point.lng, r.point.lat);//用所定位的经纬度查找所在地省市街道等信息
                var gc = new BMap.Geocoder();
                gc.getLocation(point, function (rs) {
                    var addComp = rs.addressComponents;
                    console.log(rs.address);//地址信息
                    {#$("#text").attr("value", rs.address);#}
                    var address = rs.address;
                    var post_data = {"address": address};
                    $.ajax({
                        url: "/tq/get_addree",
                        type: "post",
                        dataType: "json",
                        data: JSON.stringify(post_data),
                        contentType: 'application/json',
                        success: function (res) {
                            alert('您当前的地址是' + res.address_name);
                            $('#text').val(res.address_name);
                            var my_post_data = {"my_address": res.address_name};
                            $.ajax({
                                url: "/tq/get_weather",
                                type: 'post',
                                dataType: "json",
                                data: JSON.stringify(my_post_data),
                                contentType: 'application/json',
                                success: function (rees) {
                                    console.log(rees)
                                    var html = "";
                                    if (rees.code != 200) {
                                        alert(rees.error)
                                    } else {
                                            html += "<table class='t0'><thead class='t1'><tr>";
                                            html += "<th>日期</th><th>天气</th><th>温度</th><th>风力</th";
                                            html +="</tr></thead>";
                                            html+="<tbody id='show'>";
                                        $.each(rees.result, function (i, obj) {
                                            html += "<tr>";
                                            html += "<td>" + obj.date + "</td>";
                                            html += "<td>" + obj.weather + "</td>";
                                            html += "<td>" + obj.templerature + "</td>";
                                            html += "<td>" + obj.win + "</td>";
                                            html += "</tr>";
                                        });
                                        html +="</tbody></table>";
                                        html +="<div class='dv3'></div>";
                                        html += "<div class='dv5'></div>";
                                        html += "<div class='dv1'>当前城市为"+ res.address_name+','+ rees.we_advic +','+ rees.tem_advice+"</div>";
                                        $("#dv4").html(html);
                                        }
                                    }
                                })
                        }
                    })
                });
            } else {
                alert('failed' + this.getStatus());
            }
        }, {enableHighAccuracy: true});
            }
        }
    })
})

</script>
<script>
    $('#btn').click(function () {
        var my_address = $('#text').val();
        var my_post_data = {"my_address": my_address};
        console.log(my_post_data);
        $.ajax({
            url: "/tq/get_weather",
            type: 'post',
            dataType: "json",
            data: JSON.stringify(my_post_data),
            contentType: 'application/json',
                 success: function (rees) {
                                    var html = "";
                                    if (rees.code != 200) {
                                        alert(rees.error);
                                        alert('请重新输入')
                                    } else {
                                            html += "<table class='t0'><thead class='t1'><tr>";
                                            html += "<th>日期</th><th>天气</th><th>温度</th><th>风力</th";
                                            html +="</tr></thead>";
                                            html+="<tbody id='show'>";
                                        $.each(rees.result, function (i, obj) {
                                            html += "<tr>";
                                            html += "<td>" + obj.date + "</td>";
                                            html += "<td>" + obj.weather + "</td>";
                                            html += "<td>" + obj.templerature + "</td>";
                                            html += "<td>" + obj.win + "</td>";
                                            html += "</tr>";
                                        });
                                        html +="</tbody></table>";
                                        html +="<div class='dv3'></div>";
                                        html += "<div class='dv5'></div>";
                                        html += "<div class='dv1'>当前城市为"+my_address+','+ rees.we_advic +','+ rees.tem_advice+"</div>";
                                        $("#dv4").html(html);
                                        }
                                    }
        })
    })


</script>
<script>
    $("#text").change(function () {
        var my_address = $('#text').val();
        var my_post_data = {"my_address": my_address};
        $.ajax({
            url: "/tq/get_weather",
            type: 'post',
            dataType: "json",
            data: JSON.stringify(my_post_data),
            contentType: 'application/json',
               success: function (rees) {
                                    var html = "";
                                    if (rees.code != 200) {
                                        alert(rees.error);
                                        alert('请重新输入')
                                    } else {
                                            html += "<table class='t0'><thead class='t1'><tr>";
                                            html += "<th>日期</th><th>天气</th><th>温度</th><th>风力</th";
                                            html +="</tr></thead>";
                                            html+="<tbody id='show'>";
                                        $.each(rees.result, function (i, obj) {
                                            html += "<tr>";
                                            html += "<td>" + obj.date + "</td>";
                                            html += "<td>" + obj.weather + "</td>";
                                            html += "<td>" + obj.templerature + "</td>";
                                            html += "<td>" + obj.win + "</td>";
                                            html += "</tr>";
                                        });
                                        html +="</tbody></table>";
                                        html +="<div class='dv3'></div>";
                                        html += "<div class='dv5'></div>";
                                        html += "<div class='dv1'>当前城市为"+ my_address+','+ rees.we_advic +','+ rees.tem_advice+"</div>";
                                        $("#dv4").html(html);
                                        }
                                    }
        })
    });
</script>
</body>
</html>