body{
    width: 1400px;
    height: 700px;
    position: relative;
    background-image: url(/static/imgs/tuchong05.jpg);
    background-size: 1683px 893px;
}
div{
    position: absolute;
    width: 450px;
    height:475px;
    background-color: darkgray;
    top: 160px;
    right: 360px;
    opacity: 0.6;
}
#username{
    position: absolute;
    width: 420px;
    height: 45px;
    font-size: 30px;
    top: 28px;
    right: 13px;
    border: 2px solid #fff;
    background-color: #fff;
    color: black;
    text-align: center;
}
#password_1{
    position: absolute;
    width: 420px;
    height: 45px;
    font-size: 30px;
    top: 90px;
    right:13px;
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
    text-align: center;
}
#password_2{
    position: absolute;
    width: 420px;
    height: 45px;
    font-size: 30px;
    top: 153px;
    right: 13px;
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
    text-align: center;
}
#email{
    position: absolute;
    width: 420px;
    height: 45px;
    font-size: 30px;
    top: 216px;
    right: 13px;
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
    text-align: center;
}
#send{
    position: absolute;
    width: 425px;
    height: 45px;
    font-size: 27px;
    top: 279px;
    right: 13px;
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
}
#validation{
    position: absolute;
    width: 420px;
    height: 45px;
    font-size: 30px;
    top: 336px;
    right: 13px;
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
    text-align: center;
}
#btn{
    position: absolute;
    width: 425px;
    height: 45px;
    font-size: 27px;
    top: 399px;
    right: 13px;
    color: black;
    border: 2px solid #fff;
    background-color: #fff;
}