<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>助手主页</title>
    <link href="/static/css/home_page.css" type="text/css" rel="stylesheet">
    <script src="/static/js/jquery-1.11.3.js"></script>
</head>
<body>
    <div id="d1"></div>
    <p>很高兴见到你,祝您快乐每一天！</p>
    <button id="btn1">随笔日记</button>
    <button id="btn2">双色球</button>
    <button id="btn3">智能天气</button>
    <button id="btn4">语音识别</button>
    <button id="btn5">单词查询</button>
    <button id="btn6">吐槽论坛</button>
</body>
<script>
    $('#btn1').click(function () {
        window.location = '/note/all_notes'
    });
      $('#btn2').click(function () {
        window.location = '/qiu/index'
    });
      $('#btn3').click(function () {
        window.location = '/tq/index'
    });
      $('#btn4').click(function () {
        window.location = '/speech/index'
    });
      $('#btn5').click(function () {
        window.location = '/dict/check_word'
    });
    $('#btn6').click(function () {
        window.location = '/article/artlist'
    })
</script>
</html>